/* https://coolors.co/2c3e50-e74c3c-ffffff-3498db-95a3b3 */
/*
  VARIABLES    
*/
:root {
  --working-area: 100%;
  --charcoal: hsla(197, 37%, 24%, 1);
  --persian-green: hsla(173, 52%, 34%, 1);
  --orange-yellow-crayola: hsla(43, 74%, 66%, 0.1);
  --sandy-brown: hsla(27, 87%, 67%, 1);
  --burnt-sienna: hsla(12, 76%, 61%, 1);

  --imperial-red: rgba(230, 57, 70, 1);
  --honeydew: rgba(241, 250, 238, 1);
  --powder-blue: rgba(168, 218, 220, 1);
  --celadon-blue: rgba(69, 123, 157, 1);
  --prussian-blue: rgba(29, 53, 87, 1);

  --background-navbar: #2a9d8f;
  --background-about: #2a9d8f; /* #e74c3c; */
  --background-projects: #e76f51;
  --background-contact: #f4a261;

  --color-navbar: #2a9d8f;

  --chocoyo-green: #276721;
  --chocoyo-dark-green: #0c1b07;
  --chocoyo-yellow: #969c24;
  --flower-orange: #ef6100;
  --screen-size-xs: 0;
  --screen-size-sm: 576px;
  --screen-size-md: 768px;
  --screen-size-lg: 992px;
  --screen-size-xl: 1200px;
  --header-font-family: "Papyrus", "Montserrat", "Sans-Serif";
  --body-font-family: "Montserrat", "Sans-Serif";
  --nav-font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    "Sans-Serif";
  --fsize: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
}

/* header {
  background-color: var(--chocoyo-dark-green);
  color: var(--chocoyo-yellow);
  border: 1px dashed var(--chocoyo-dark-green);
} */

body {
  font-family: var(--body-font-family);
  line-height: 1.7rem;
  background-color: white;
}

img {
  border-style: none;
  vertical-align: middle;
  max-width: 100%;
}

body {
  color: #444;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin-top: 0;
}

h1 {
  font-weight: 900;
}

p {
  line-height: 1.5;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  color: #e74c3c;
  text-decoration: underline;
}

nav {
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
  position: relative;
  top: 0;
}

nav a,
nav a:hover,
nav a:focus,
nav a:active,
nav a:visited {
  text-decoration: none;
}

nav .brand {
  display: inline-block;
  float: left;
  font-size: 1.25em;
  font-weight: 900;
}

nav .brand a {
  color: #444;
  display: block;
  padding: 1em 0;
}

nav .nav-toggle {
  color: #444;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 1.25em;
  padding: 1em 0;
  z-index: 1000;
}

nav ul {
  border-top: 1px solid #ccc;
  clear: both;
  list-style: none;
  margin: 0 -1em;
  padding: 0;
  z-index: 999;
}

nav ul li {
  border-bottom: 1px solid #ccc;
  text-align: center;
}

nav ul li a {
  color: #444;
  display: block;
  padding: 0.75em;
}

nav.sticky {
  -webkit-animation: show-header 0.5s ease;
  animation: show-header 0.5s ease;
  position: fixed;
  top: 0;
  width: 700%;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: var(--chocoyo-yellow);
}

.container-fluid {
  padding: 0 1em;
}

.container {
  margin: 0 auto;
  max-width: 996px;
}

.custom-container-fluid::before,
.custom-container-fluid::after {
  content: "";
  display: table;
}

.custom-container-fluid::after {
  clear: both;
}

.hero {
  background: /*linear-gradient(rgba(44, 62, 80, 0.65), rgba(52, 152, 219, 0.65)),*/ linear-gradient(
      var(--orange-yellow-crayola),
      var(--persian-green)
    ),
    url("../images/chocoyos.jpg") no-repeat fixed center;
  background-size: cover;
  color: #ffffff;
}

.hero .container {
  padding-top: 25vh; /* No JS fallback*/
  padding-bottom: 25vh; /* No JS fallback*/
}

.profile-image {
  border-radius: 50%;
  display: block;
  max-width: 200px;
  margin: 0 auto 1em;
  width: 100%;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 0.15em;
  text-align: center;
}

.hero .lead,
.hero .arrow {
  display: block;
  text-align: center;
}

.hero .lead {
  font-size: 1.5em;
  font-weight: 100;
  margin-bottom: 1em;
}

.hero .arrow {
  font-size: 4em;
}

.hero .arrow a {
  border: 4px solid #fff;
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  width: 100px;
}
.hero .arrow a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.about {
  background-color: var(--persian-green);
  color: #fff;
}

.about .container,
.features .container,
.portfolio .container,
.contact .container {
  padding: 5em 0;
}

.about,
.features,
.portfolio,
.contact {
  text-align: center;
}

.about a,
.about a:hover,
.about a:focus,
.about a:active,
.about a:visited {
  color: #fff;
}

.features img {
  display: block;
  margin: 0 auto 1em;
  max-width: 200px;
}

.features .col-3 {
  margin: 3em auto;
  width: 100%;
}

.portfolio {
  background-color: #3498db;
  color: #fff;
}

.gallery .gallery-image {
  margin: 1em auto;
  width: 100%;
}

.gallery .gallery-image img {
  background-color: #23648f;
  border-radius: 4px;
  display: block;
  height: auto;
  padding: 6px;
  width: 100%;
}

.contact form {
  /* background-color: #f0f0f0; */
  background-color: var(--honeydew);
  border-radius: 4px;
  /* border-top: 8px solid #e74c3c; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  padding: 1em;
}

.contact form input,
.contact form textarea {
  border: none;
  border-radius: 4px;
  display: block;
  margin-bottom: 1em;
  padding: 1em;
  width: 100%;
}

.contact form textarea {
  height: 6em;
}

.contact form input[type="submit"] {
  background-color: #e74c3c;
  border-radius: 0;
  color: #fff;
  padding: 1em;
  text-transform: uppercase;
}

/* ========================
Navigation
======================== */

@-webkit-keyframes show-header {
  0% {
    top: -4em;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes show-header {
  0% {
    top: -4em;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

/* ========================
Sections
======================== */

/* ========================
Footer
======================== */

.footer {
  background-color: var(--charcoal);
  color: #fff;
  font-size: 1.5em;
  text-align: center;
}

.footer .container {
  padding: 1em 0;
}

.footer a {
  color: #ffffff;
  margin-right: 1em;
}

/* .footer a:hover {
  color: var(--burnt-sienna);
} */

.footer a:last-of-type {
  margin-right: 0;
}

/* ========================
Media Queries
======================== */

@media (min-width: 768px) {
  nav .nav-toggle {
    display: none;
  }

  nav ul {
    border: none;
    clear: none;
    display: inline-block !important;
    float: right;
    margin: 0;
    padding: 25px 0;
  }

  nav ul li {
    border: none;
    display: inline-block;
    float: left;
    margin-right: 1.5em;
  }

  nav ul li:last-of-type {
    margin-right: 0;
  }

  nav ul li a {
    padding: 0;
  }

  .hero h1 {
    font-size: 6em;
  }

  .hero .lead {
    font-size: 3em;
  }

  .features .col-3 {
    float: left;
    margin: 2em 5% 0 0;
    padding: 0 1em;
    width: 30%;
  }

  .features .col-3:last-of-type {
    margin-right: 0;
  }

  .gallery .gallery-image {
    float: left;
    margin-right: 2.5%;
    width: 31.6666666667%;
  }

  .gallery .gallery-image:nth-of-type(3n) {
    margin-right: 0;
  }

  .contact form {
    padding: 3em 2em 2em;
  }

  .contact form input[type="submit"] {
    padding: 1em 3em;
    width: auto;
  }

  .contact form input.full-half {
    float: left;
    margin-right: 2.5%;
    width: 48.75%;
  }

  .contact form input.full-half:nth-of-type(2n) {
    margin-right: 0;
  }

  .contact form textarea {
    height: 12em;
  }
}
