/*
  VARIABLES    
*/
:root {
  --working-area: 100%;
  --chocoyo-green: #276721;
  --chocoyo-dark-green: #0c1b07;
  --chocoyo-yellow: #969c24;
  --flower-orange: #ef6100;
  --screen-size-xs: 0;
  --screen-size-sm: 576px;
  --screen-size-md: 768px;
  --screen-size-lg: 992px;
  --screen-size-xl: 1200px;
  --header-font-family: "Papyrus", "Montserrat", "Sans-Serif";
  --body-font-family: "Montserrat", "Sans-Serif";
  --nav-font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    "Sans-Serif";
  --fsize: 10px;
}

/*
  GENERAL    
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font-family);
  line-height: 1.7rem;
  background-color: white;
}

img {
  border-style: none;
  vertical-align: middle;
}

/*
  HEADER     
*/
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: var(--chocoyo-yellow);
}

header {
  background-color: var(--chocoyo-dark-green);
  color: var(--chocoyo-yellow);
  border: 1px dashed var(--chocoyo-dark-green);
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: white;
  border-bottom: 2px solid yellow;
}

.hero {
  background-image: url("../images/chocoyos.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border: 1px dashed var(--chocoyo-dark-green);

  height: 940px;
  width: var(--working-area);
  margin: auto;
}

main section div div.polaroid {
  background-color: white;
  margin-bottom: 15px;
  border: 1px solid #dddddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50%;
}

main section div div.label {
  text-align: center;
  padding: 10px 20px;
}

main section.container div.project-card div.full > a:hover,
main section.container div.project-card div.split > a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 var(--chocoyo-dark-green);
}

.card-custom {
  background-color: var(--primary-color);
  color: black;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* FOOTER */
footer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--chocoyo-dark-green);
  color: var(--chocoyo-yellow);
  border: 1px dashed var(--chocoyo-dark-green);
  width: var(--working-area);
  margin-right: auto;
  margin-left: auto;
}

footer > nav {
  font-family: var(--nav-font-family);
  font-size: 1.5rem;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  width: 100%;
  padding: 15px;
  padding-top: 0px;
}

footer nav .content {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  text-align: center;
  display: inline-block;

  position: relative;
  width: 100%;
  padding: 15px;

  flex: 0 0 75%;
  max-width: 75%;
}

footer span {
  /* color: var(--chocoyo-yellow); */
  color: white;
  padding: 0px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;

  padding: 0px;
}

footer div > .phone::before {
  content: "Phone: ";
  text-decoration: none;
}

footer div > .email::before {
  content: "Email: ";
}

footer div > .github::before {
  content: "GitHub: ";
}

footer div > .twitter::before {
  content: "Twitter: ";
}

footer div > .spotify::before {
  content: "Spotify: ";
}

footer a::after {
  content: " |";
}

footer a:last-child::after {
  content: unset;
}

footer a:hover {
  border-bottom: 1px solid var(--chocoyo-green);
  color: yellow;
}
